<div class="container">
    <br>
    <div class="row">
      <div class="col-sm">
        <!-- <h4  class="subTitulo"><i class="material-icons">perm_contact_calendar</i> CONTATO</h4> -->
  
        <h2 class="subTitulo">
          <!-- <i class="material-icons ">perm_contact_calendar</i>  -->
          CONTATO
        </h2> 
        <div class="bd-example">
          <address>
            <strong>Endereço.</strong><br>
            Rua Fernandes Vieira, 234 Jose Pinheiro<br>
            Campina Grande PB, CEP 51407-490<br>
            <abbr title="Phone">Cel:</abbr> (83) 99322-2247
          </address>
        
          <address>
            <strong>Sociais</strong><br>
            <a href="https://www.facebook.com/josevicentedesousa">
              <img src="../assets/images/fac.png"  alt="facebook" >
              facebook.com/josevicentedesousa</a>
            <br>
            <a href="https://twitter.com/josev_sousa">
                <img src="../assets/images/twi.png"  alt="twitter" >
                twitter.com/josev_sousa</a>
            <br>
                <a href="https://www.linkedin.com/in/josevicentedesousa/">
              <img src="../assets/images/lin.png"  alt="linkedin" >
              linkedin.com/in/josevicentedesousa</a>
              <br>
              <a href="https://www.github.com/josevsousa">
                <img src="../assets/images/git.png"  alt="github" >
                github.com/josevsousa
              </a>
              <br>
              <a href="https://api.whatsapp.com/send?phone=5511984420966&text=Ola%20José%20Vicente%20!%20">
                <img src="../assets/images/wha.png"  alt="WhatsApp" >
                whatsApp (83) 99322-2247
              </a>
  
          </address>
        </div>     
      </div>
      <div class="col-sm">
        <h2 class="subTitulo">
          MSG
        </h2>

        <form [formGroup]="formulario">
            <div class="row mb-3">
              <div class="col-sm-10">
                <input type="email" formControlName="nome" placeholder="nome" class="form-control" id="nome" >
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10">
                <input type="email" formControlName="email" placeholder="email" class="form-control" id="email" >
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" formControlName="messagem" id="messagem" placeholder="Sua messagem" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid" (click)="sendForm()">Send</button>
        </form>

        <br>
        <div  class="enviado" *ngIf="enviado">
          <img src="../assets/images/enviado.png" alt="">  
          <h3>Enviado com sucesso!</h3>
        </div>
        <br>
        <br>
      </div>
      
    </div>




    <!-- <input type="text" [formControl]="cidade"> -->

    <!-- {{cidade.value}}     -->

    <ul>
      <li *ngFor="let item of contatos | async">
        nome: {{ item.nome }} 
        email: {{item.email}}
      </li>
    </ul>

  </div>

  